.general {
    
    background-color: rgb(236, 236, 236);
    display: grid;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
}



.logo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo img {
    width: 80px;
    height: 60px;
}